{% extends 'base.html' %}
{% block title%} 
Novo Usuário - {{block.super}}
{% endblock title%}
{% block body%}
<div class="container">
   {{ msg2 }}
   <h4>Novo Usuario</h4>
   {% include "accounts/partials/msg.html" %}
   <div class="row">
      <form action ="." method="POST">
         {% csrf_token %}
         {% include "accounts/partials/user_form.html" %}
         <div class="col-md-6 mb-3">
            <button type="submit" class="btn btn-primary mb-2">Salvar</button>
         </div>
      </form>
   </div>
</div>
{% endblock body%}