{% extends 'base.html' %}
{% block title%}
Login - {{block.super}}
{% endblock title%}
{% block body%}
<div class="container">
   <h3>Login do Usuario</h3>
   {% include "accounts/partials/msg.html" %}
   <div class="row">
      <form action="." method="POST">
         {% csrf_token %}
         {% include "accounts/partials/user_form.html" %}
         <div class="col-md-6 mb-3">
            <button type="submit" class="btn btn-primary mb-2">Login</button>
         </div>
      </form>
   </div>
</div>
{% endblock body%}