<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
   <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'tasks:root' %}" style="margin-left:15px">FEALVES</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         {% if user.is_authenticated%}
         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item" style="margin-left:15px">
               <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Tasks Menu
               </a>
               <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'tasks:add_category' %}">Adicionar Categorias</a></li>
                  <li><a class="dropdown-item" href="{% url 'tasks:list_categories' %}">Listar Categorias</a></li>
                  <li>
                     <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="{% url 'tasks:add_task' %}">Adicionar Tarefas</a></li>
                  <li><a class="dropdown-item" href="{% url 'tasks:list_tasks' %}">Listar Tarefas</a></li>
               </ul>
            </li>
         </ul>
         {% endif %}
         {% if user.is_authenticated%}
         <ul class="nav nav-pills" style="margin-right: 20px">
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                  aria-expanded="false"><img src="" width="30" height="30" class="d-inline-block align-top"
                     style="margin-right:8px;" alt="">{{user.username}}</a>
               <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Pefil do usuário</a></li>
                  <li><a class="dropdown-item" href="/contas/alterar-senha/">Alterar senha</a></li>
                  <li>
                     <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="/contas/logout/">Logout</a></li>
               </ul>
            </li>

         </ul>
         {% endif %}
      </div>
   </div>
</nav>
<br>